@using CaptchaMvc.HtmlHelpers
@using CaptchaMvc;
@using MobileShop.Models
@model User
<nav id="top">
    <div class="container">
        <div class="row">
            <div class="col-xs-6">
                <select class="language">
                    <option value="English" selected>English</option>

                </select>
                <select class="currency">
                    <option value="VND" selected>VND</option>

                </select>
            </div>
            <div class="col-xs-6">
                <ul class="top-link">
                    @if (Session["FullName"] != null)
                    {
                        <li>Hello: @Session["FullName"].ToString()</li>
                        <li>
                            <a href="@Url.Action("Logout","Home")" class="btn btn-warning">Logout</a>
                        </li>
                    }
                    else
                    {
                        <li><a href='@Url.Action("AccountLogin", "Home", null, Request.Url.Scheme)'><span class="glyphicon glyphicon-user"></span> My Account</a></li>
                    }

                </ul>
            </div>
        </div>
    </div>
</nav>

