@using CaptchaMvc.HtmlHelpers
@using CaptchaMvc;
@using MobileShop.Models
@model User
@{
    ViewBag.Title = "AccountLogin";
    Layout = "~/Views/Layout/_HomeLayout.cshtml";
}


<div id="page-content" class="single-page">
    <div class="container">
        @Html.Partial("~/Views/Home/_AccountPartial.cshtml")
        <div class="row">
            <div class="col-md-6">
                <div class="heading"><h2>Login</h2></div>
                @using (Html.BeginForm("AccountLogin", "Home"))
                {
                   
                <form name="form1" id="ff1" method="post">
                    @*@Html.AntiForgeryToken()*@

                    <div class="form-group">
                        <input type="text" class="form-control" id="username" name="txtusername" placeholder="User name :" required="" />
                        @*@Html.TextBoxFor(x => x.UserName, new { @class = "form-control", @id = "username", @name = "txtusername", @placeholder = "User name :", @required = "" })*@
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="password" name="txtpassword" placeholder="Password :" required="" />
                        @*@Html.TextBoxFor(x => x.Password, new { @class = "form-control", @id = "password", @name = "txtpassword", @placeholder = "Password :", @required = "" })*@
                    </div>
                    <button type="submit" class="btn btn-1" name="login" id="login">Login</button>
                    <a href="#">Forgot Your Password ?</a>
                </form>
                }

            </div>

        </div>
    </div>
</div>


